<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Contato </title>
    <link rel="stylesheet" href="CSS/folha de estilo.css">
</head>
<body>
    <header style="background-image: url('IMG/pexels-torsten-dettlaff-193003.jpg')">
        <div class="container">
            <nav>
                <a href="index.html">
                    <img class="logo" src="IMG/Rota livre (2).png" alt="logo">
                </a>
                <ul class="ul ">
                    <a href="index.html">Home</a>
                    <a href="sobre.html">Sobre</a>

                    <!--Começo de dropdown-->
                    <div class="dropdown">
                        <div class="select">
                            <a class="selected" href="servicos.html">Sugestões</a>
                            <div class="caret"></div>
                        </div>
                        <ul class="menu">
                            <li><a href="servicos-paises.html">Países</a></li>
                            <li><a href="servicos - excursoes.html">Excurssoes</a></li>
                           
                            <li class="active"><a>Sugestões</a></li>
                        </ul>
                    </div>
                    <!--Fim de dropdown-->
                   
                    <a href="dashboard.html">Dashboard</a>
                    <a href="contato.html">contate-nos</a>
                    <a target="_blank" class="btn" href="cadastro.html">Cadastre-se</a>
                </ul>
                <div class="toggle_btn">
                    <i class="fa fa-bars"></i>
                </div>
            </nav>
            <section class="banner">
                <div class="texto-banner">
                    <h1>Contate-nos</h1>
                    <p>Entre em contato com o Rota Livre..</p>
            
                </div>
            </section>
        </div>
        <!--Fim do conteiner-->
        <div class="dropdown_menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="servicos.html">Sugestões</a></li>
            <li><a href="servicos - excursoes.html">Excurssões</a></li>
            <li><a href="servicos-paises.html">Países</a></li>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="contato.html">Contato</a></li>
            <li><a target="_blank" class="btn" href="cadastro.html">Cadastre-se</a></li>
       </div>
    </header>
    <!--Fim do header-->
    <section class="contato">
        <div class="container">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63431.30288259051!2d-37.08692545000005!3d-6.463715049999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7afed967d8e39a1%3A0xa3ea45eaea46de3b!2zQ2FpY8OzLCBSTiwgNTkzMDAtMDAw!5e0!3m2!1spt-BR!2sbr!4v1701583097919!5m2!1spt-BR!2sbr" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="contato-info">
                <div class="div_ctt_esquerda">

                    <div class="icones_ctt">
                        <i class="fa fa-map-marker"></i>
                        <p>Caico RN</p>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p>rota.livre@gmail.com</p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>(84) 99954-53-89 </p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>(84) 99984-6375</p>
                    </div>

                </div>
                <div class="div_inputs_direita">
                    <form action="">
                        <input type="text" placeholder="Nome">
                        <input type="text" placeholder="Email">
                        <input type="text" placeholder="Assunto">
                        <textarea cols="30" rows="10" placeholder="Sua mensagem"></textarea>
                        <button class="btn">Enviar Mensagem</button>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!--footer-->
    <footer class="rodape">
        <div class="container">
            <div class="links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>

            </div>

        </div>
    </footer>
    <!--fim do footer-->
    <script src="JS/main.js">

    </script>
    
</body>
</html>