<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Tela inicial</title>
    <link rel="stylesheet" href="CSS/folha de estilo.css">
</head>
<body>
    <header style="background-image: url(IMG/pexels-adrian-falcon-3359250.jpg);">
        <div class="container">
            <nav>
                <a href="index.html">
                    <img class="logo" src="IMG/Rota livre (2).png" alt="logo">
                </a>
                <ul class="ul ">
                    <a href="index.html">Home</a>
                    <a href="sobre.html">Sobre</a>

                    <!--Começo de dropdown-->
                    <div class="dropdown">
                        <div class="select">
                            <a class="selected" href="servicos.html">Sugestões</a>
                            <div class="caret"></div>
                        </div>
                        <ul class="menu">
                            <li><a href="servicos-paises.html">Países</a></li>
                            <li><a href="servicos - excursoes.html">Excurssoes</a></li>
                           
                            <li class="active"><a>Sugestões</a></li>
                        </ul>
                    </div>
                    <!--Fim de dropdown-->
                   
                    <a href="dashboard.html">Dashboard</a>
                    <a href="contato.html">contate-nos</a>
                    <a target="_blank" class="btn" href="cadastro.html">Cadastre-se</a>
                </ul>
                <div class="toggle_btn">
                    <i class="fa fa-bars"></i>
                </div>
                
            </nav>
            <section class="banner">
                <div class="texto-banner">
                    <h1>Bora Viajar?</h1>
                    <p> O Rote livre te mostra os destinos mais procurados, os melhores hotéis, lugares mais visitados e você ainda se informa sobre os países mais em conta no momento!</p>
                    <a target="_blank" href="login.html" class="btn">Login</a>
                </div>
            </section>
        </div>
        <!--Fim do container-->
        <div class="dropdown_menu">
             <li><a href="index.html">Home</a></li>
             <li><a href="sobre.html">Sobre</a></li>
             <li><a href="servicos.html">Sugestões</a></li>
             <li><a href="servicos - excursoes.html">Excurssões</a></li>
             <li><a href="servicos-paises.html">Países</a></li>
             <li><a href="dashboard.html">Dashboard</a></li>
             <li><a href="contato.html">Contato</a></li>
             <li><a target="_blank" class="btn" href="cadastro.html">Cadastre-se</a></li>
        </div>
    </header>

    <!--Fim do header-->
    <!--faca mais-->
    <section class="secao-txt-e-img-pg-inicial">
        <!--container-->
        <div class="container">
            <div class="txt-sugestoes-pg-inicial">
                <h3>Não sabe para onde ir?</h3>
                <p>O Rota Livre te ajuda a encontrar os melhores destinos e experiências. Venha se aventurar experimetar diferentes gastronomias, colecionar momentos e conhecer novas culturas e povos. Viajar é viver... quer saber destinos repletos de surpresas e que cabem no seu bolso?</p>
                <a id="saiba_mais1" href="#" class="btn animate-btn">Saiba Mais..</a>
            </div>
            <div class="img-vz-txt-pg-inicial">
                <img class="img_div_secao-txt-e-img-pg-inicial" src="IMG/undraw_world_re_768g.svg" alt="">
            </div>
        </div>
        <!--fim do container-->

    </section>
    <!--fim faca mais-->

    <section class="secao-txt-e-img-pg-inicial">
        <!--container-->
        <div class="container">
            <div class="img-vz-txt-pg-inicial">
                <img class="img_div_secao-txt-e-img-pg-inicial" src="IMG/undraw_aircraft_re_m05i (1).svg" alt="">
            </div>
            <div class="txt-sugestoes-pg-inicial">
                <h3> Os 6 destinos mais procurados pelos brasileiros: Brasil</h3>
                <p> Que o nosso Brasil é cheio de lugares maravilhosos e que atraem turistas de todas as parte do mundo a gente já sabe, né? Mas e que destinos vem sendo buscados pelos brasileiros em suas viagens?...Vamos descobrir? </p>
                <a id="saiba_mais2" href="#" class="btn animate-btn">Saiba Mais..</a>
            </div>
           
        </div>
        <!--fim do container-->

    </section>
    <!--fim faca mais 2-->  
    <section class="depoimentos">
        <div class="container">
            <h3>Nossos depoimentos</h3>
            <p>Leia o que nossos visitantes falam sobre nós!</p>
            <div class="cards">
                <!--card item 1-->
                <div class="card-depoimento-filho">
                    <img class="img_card_depoimento" src="IMG/undraw_Drink_coffee_v3au.png" alt="">
                    <p class="nome-usuario">Tatiane Pinheiro</p>
                    <p class="depoimento-usuario">O Rota Livre se destaca por sua navegação intuitiva e pela apresentação de informações abrangentes sobre destinos. A interface fácil de usar permite que os usuários explorem diferentes opções de viagem de forma rápida e eficiente.
                    </p>
                    <div class="estrelas">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                </div>
                <!--fim do card item 1 -->
                <!--card item 2-->
                <div class="card-depoimento-filho">
                    <img class="img_card_depoimento" src="IMG/undraw_Drink_coffee_v3au.png" alt="">
                    <p class="nome-usuario">Renato Gonçalves</p>
                    <p class="depoimento-usuario">A equipe de suporte está sempre pronta para auxiliar os usuários, respondendo rapidamente a dúvidas e fornecendo assistência durante todo o processo de planejamento da viagem.  Essa abordagem centrada no usuário e no suporte solidifica a confiança dos usuários no site, tornando-o uma escolha confiável para quem busca planejar suas próximas aventuras.
                    </p>
                    <div class="estrelas">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                    </div>
                </div>
                <!--fim do card item 2 -->
                <!--card item 3-->
                <div class="card-depoimento-filho">
                    <img class="img_card_depoimento" src="IMG/undraw_Drink_coffee_v3au.png" alt="">
                    <p class="nome-usuario">Mariana Alvarenga</p>
                    <p class="depoimento-usuario">O Rota Livre se destaca pela vasta variedade de opções de destinos apresentadas aos usuários. A experiência de navegação é envolvente, oferecendo uma ampla gama de destinos de viagem, desde destinos populares até joias escondidas.
                    </p>
                    <div class="estrelas">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                    </div>
                </div>
                <!--fim do card item 3 -->
            </div>
        </div>
    </section>
    <!--Inicio de parceiros-->
    <section class="parceiros_pg_inicial">
        <div class="container">
            <h3>Nossos Parceiros</h3>
            <p>Alguns dos parceiros que nos ajudam a indicar os melhores destinos para você!</p>
            <div>
                <img src="IMG/logo-expedia.svg" alt="">
                <img src="IMG/nattrip.png" alt="">
                <img src="IMG/logo-melhores-destinos-min.svg" alt="">
                <img src="IMG/logo-viajanet.png" alt="">
            </div>
        </div>
    </section>
    <!--fim de parceiros-->
    <!--faca mais-->
    <section class="secao-txt-e-img-pg-inicial">
        <!--container-->
        <div class="container">
            <div class="txt-sugestoes-pg-inicial">
                <h3> Quer Saber hotéis para se hospedar com baixo custo e muito conforto? </h3>
                <p> A gente sabe que hotéis confortavéis em destinos indispensáveis existe em todo lugar, mas e hotéis baixo custo e com seu conforto garantido? Ficou interessado? </p>
                <a id="saiba_mais3" href="#" class="btn animate-btn">Saiba mais..</a>
            </div>
            <div class="img-vz-txt-pg-inicial">
                <img class="hotel" src="IMG/hotel_pg_inicial.svg" alt="">
            </div>
        </div>
        <!--fim do container-->

    </section>
    <!--fim faca mais-->
    <!--footer-->
    <footer class="rodape">
        <div class="container">
            <div class="links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            <br>
            </div>
           <br>

        </div>
        
    </footer>
    <!--fim do footer-->
    <script src="JS/main.js">

    </script>
    
</body>
</html>