<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Sugestões - excursoes</title>
    <link rel="stylesheet" href="CSS/folha de estilo.css">
</head>
<body>
    <header style="background-image: url('IMG/pexels-pixabay-62623.jpg')">
        <div class="container">
            <nav>
                <a href="index.html">
                    <img class="logo" src="IMG/Rota livre (2).png" alt="logo">
                </a>
                <ul class="ul ">
                    <a href="index.html">Home</a>
                    <a href="sobre.html">Sobre</a>

                    <!--Começo de dropdown-->
                    <div class="dropdown">
                        <div class="select">
                            <a class="selected" href="servicos.html">Sugestões</a>
                            <div class="caret"></div>
                        </div>
                        <ul class="menu">
                            <li><a href="servicos-paises.html">Países</a></li>
                            <li><a href="servicos - excursoes.html">Excurssoes</a></li>
                           
                            <li class="active"><a>Sugestões</a></li>
                        </ul>
                    </div>
                    <!--Fim de dropdown-->
                   
                    <a href="dashboard.html">Dashboard</a>
                    <a href="contato.html">contate-nos</a>
                    <a target="_blank" class="btn" href="cadastro.html">Cadastre-se</a>
                </ul>
                <div class="toggle_btn">
                    <i class="fa fa-bars"></i>
                </div>
                
            </nav>
            <section class="banner">
                <div class="texto-banner">
                    <h1>Algumas Sugestões..</h1>
            
                </div>
            </section>
        </div>
        <div class="dropdown_menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="servicos.html">Sugestões</a></li>
            <li><a href="servicos - excursoes.html">Excurssões</a></li>
            <li><a href="servicos-paises.html">Países</a></li>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="contato.html">Contato</a></li>
            <li><a target="_blank" class="btn" href="cadastro.html">Cadastre-se</a></li>
       </div>
    </header>
    <!--Fim do header-->
    <section class="servicos">
        <div class="container">
            <h3>Excursões famosas: BRASIL!
            </h3>
            <p>Conheça os lugares mais procurados pelos brasileiros.. </p>
            <!-- inicio de div_informações -->
            <div class="div_informacoes">
                <!--inicio de div_info_filho 1-->
                <div class="div_info_filho">
                    <img src="IMG/excurssoes (Holambra).jpg" alt="">
                    <p class="titulo_div_info_filho"><strong>Holambra</strong></p>
                    <p class="descricao-div-info-filho">
                        Antiga colônia holandesa, Holambra, é uma das excursões mais procuradas por causa do festival das flores (Expoflora), que abriga os principais produtores de flores e plantas ornamentais. Apesar de contar com pouco mais de 11 mil habitantes, a cidade é o maior centro de cultivo, comercialização e exposição de flores e plantas ornamentais do Brasil, respondendo por cerca de 40% das vendas do setor.
                    </P>
                                                 
                </div>
              
                <!--fim de div_info_filho 1 -->
                 <!--inicio de div_info_filho 2-->
                 <div class="div_info_filho">
                    <img src="IMG/excursoes(Aparecida).avif" alt="">
                    <p class="titulo_div_info_filho"><strong>Aparecida </strong></p>
                    <p class="descricao-div-info-filho">
                        As origens do município remontam à fé consolidada ao redor do encontro da imagem de Nossa Senhora da Conceição Aparecida no curso do Rio Paraíba do Sul por pescadores, em 1717. O maior Santuário no mundo dedicado a Maria, Mãe de Deus, configura-se como o maior centro de peregrinação religiosa da América Latina.
                    </p>
                
                  
                </div>
                <!--fim de div_info_filho 2 -->
                 <!--inicio de div_info_filho 3-->
                 <div class="div_info_filho">
                    <img src="IMG/excurssoes(Campos do j).webp" alt="">
                    <p class="titulo_div_info_filho"><strong>Campos do Jordão</strong></p>
                    <p class="descricao-div-info-filho">
                        Campos do Jordão, localizado em São Paulo, ganhou o título de a Suíça brasileira por conta de seu clima frio e seu estilo europeu. Um passeio que mistura lazer, gastronomia, moda e cultura para toda a família, vale passear no teleférico, andar de bondinho ou trenzinho, comer chocolate ou até mesmo um sorvete.
                    </p>
                    
                </div>
                <!--fim de div_info_filho 3 -->
                 <!--inicio de div_info_filho 4-->
                 <div class="div_info_filho">
                    <img src="IMG/excurssoes-conservatoria.jpg" alt="">
                    <p class="titulo_div_info_filho"><strong>Conservatória</strong></p>
                    <p class="descricao-div-info-filho">
                        Os principais atrativos de Conservatória, além das serenatas, são a estação de trem que é datada de 1883; a Igreja Matriz de Santo Antônio; o Cine Centímetro, que é uma réplica reduzida do antigo Cine Metro da Tijuca; o Túnel que chora, que possui em seu interior uma fonte de água pura, diz a lenda que quem bebe desta fonte jamais se esquece e sempre volta a Conservatória.
                    </p>
                    
                   
                </div>
                <!--fim de div_info_filho 4 -->
                 <!--inicio de div_info_filho 5-->
                 <div class="div_info_filho">
                    <img src="IMG/excurssoes(penedo).jpg" alt="">
                    <p class="titulo_div_info_filho"><strong>Penedo</strong></p>
                    <p class="descricao-div-info-filho">
                        A Pequena Finlândia é mais do que um shopping a céu aberto, com diversas lojas de artesanato, comida, bebida, fábricas de Chocolate e arte, além da Casa do Papai Noel, que é uma atração bem interessante do local. A casa possui sala, cozinha e quarto onde mora o bom velhinho e fica aberta o ano todo. Diversão garantida para toda a família.
                    </p>
                   
                   
                </div>
                <!--fim de div_info_filho 5 -->
                 <!--inicio de div_info_filho 6-->
                 <div class="div_info_filho">
                    <img src="IMG/parati.jpeg" alt="">
                    <p class="titulo_div_info_filho"><strong>Paraty</strong></p>
                    <p class="descricao-div-info-filho">
                        Paraty é uma pequena cidade com montanhas como pano de fundo na Costa Verde do Brasil, entre o Rio de Janeiro e São Paulo. O seu centro colonial português possui ruas calcetadas e edifícios dos séculos XVII e XVIII da altura em que funcionava como um porto, durante o ciclo do ouro brasileiro. Entre os seus pontos de referência arquitetónicos encontra-se a Capela de Santa Rita à beira-mar, uma igreja caiada construída em 1722.
                    </p>
                  
                    
                </div>
                <!--fim de div_info_filho 6 -->

            </div>
            <!--fim da div_informações-->
        </div>
    </section>
    <!--fim section servico-->
    <section class="dados" style="background-color: #f1f1f1;">
        <div class="container">
            <!--dados item-->
            <div class="div_bandeira_paises">
                <img src="IMG/bandeira da frança.png" alt="">
                <p>
                    <strong>+79 M </strong><br>
                     País mais visitado
                </p>
            </div>
            <!--fim dos dados item-->
             <!--dados item-->
             <div class="div_bandeira_paises">
                <img src="IMG/bandeira da espanha.png" alt="">
                <p>
                    <strong>+72 </strong> <br>
                     2° País mais visitado
                </p>
            </div>
            <!--fim dos dados item-->
             <!--dados item-->
             <div class="div_bandeira_paises">
                <img src="IMG/bandeira dos EUA.png" alt="">
                <p>
                    <strong>+51</strong> <br>
                      3° País mais visitado
                </p>
            </div>
            <!--fim dos dados item-->
             <!--dados item-->
             <div class="div_bandeira_paises">
                <img src="IMG/bandeira da turquia.png" alt="">
                <p>
                    <strong>+50 </strong><br>
                      4° País mais visitado
                </p>
            </div>
            <!--fim dos dados item-->
        </div>
    </section>
    <!--footer-->
    <footer class="rodape">
        <div class="container">
            <div class="links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>

            </div>

        </div>
    </footer>
    <!--fim do footer-->
    <script src="JS/main.js">

    </script>
    
</body>
</html>