<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Sugestões</title>
    <link rel="stylesheet" href="CSS/folha de estilo.css">
</head>
<body>
    <header style="background-image: url('IMG/pexels-rogerio-rondon-6822715.jpg')">
        <div class="container">
            <nav>
                <a href="index.html">
                    <img class="logo" src="IMG/Rota livre (2).png" alt="logo">
                </a>
                <ul class="ul ">
                    <a href="index.html">Home</a>
                    <a href="sobre.html">Sobre</a>

                    <!--Começo de dropdown-->
                    <div class="dropdown">
                        <div class="select">
                            <a class="selected" href="#">Sugestões</a>
                            <div class="caret"></div>
                        </div>
                        <ul class="menu">
                            <li><a href="servicos-paises.html">Países</a></li>
                            <li><a href="servicos - excursoes.html">Excurssoes</a></li>
                           
                            <li class="active"><a href="servicos.html">Sugestões</a></li>
                        </ul>
                    </div>
                    <!--Fim de dropdown-->
                   
                    <a href="dashboard.html">Dashboard</a>
                    <a href="contato.html">contate-nos</a>
                    <a target="_blank" class="btn" href="cadastro.html">Cadastre-se</a>
                </ul>
                <div class="toggle_btn">
                    <i class="fa fa-bars"></i>
                </div>
                
            </nav>
            <section class="banner">
                <div class="texto-banner">
                    <h1>Algumas Sugestões..</h1>
            
                </div>
            </section>
        </div>
        <div class="dropdown_menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="servicos.html">Sugestões</a></li>
            <li><a href="servicos - excursoes.html">Excurssões</a></li>
            <li><a href="servicos-paises.html">Países</a></li>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="contato.html">Contato</a></li>
            <li><a target="_blank" class="btn" href="cadastro.html">Cadastre-se</a></li>
       </div>
    </header>
    <!--Fim do header-->
    <section class="servicos" style="background-color: #d3e6fd;">
        <div class="container">
            <h3>Hotéis</h3>
            <p>Conheça alguns hóteis baixo custo..</p>
            <!--inicio da div_informacoes-->
            <div class="div_informacoes">
                <!--inicio de div_info_filho 1-->
                <div class="div_info_filho">
                    <img src="IMG/Hotel - Bário(México2).webp" alt="">
                    <p class="titulo_div_info_filho"><strong>Barrio Downtown Mexico City Hostel</strong></p>
                    <p class="descricao-div-info-filho">
                        Perto do Palacio de Bellas Artes, o Barrio Downtown Mexico City Hostel oferece um terraço na cobertura, sala de jogos e uma área de entretenimento ao ar livre. Fique conectado com o Wi-Fi gratuito no quarto, com velocidade de mais de 25 Mbps, e os hóspedes poderão encontrar outras comodidades, como um bar.
                    </p>
                 
                </div>
                <!--fim de div_info_filho 1 -->
                 <!--inicio de div_info_filho 2-->
                 <div class="div_info_filho">
                    <img src="IMG/Hotel Santa Justa( Lisboa) .webp" alt="">
                    <p class="titulo_div_info_filho"><strong>Hotel Santa Justa Lisboa </strong></p>
                    <p class="descricao-div-info-filho">
                        Além de um business center 24 horas e um restaurante, você pode se conectar ao Wi-Fi gratuito no quarto. Todos os 82 quartos oferecem confortos como roupas de cama premium e cofres para notebook, além de comodidades como Wi-Fi grátis e ar-condicionado. Os comentários dos hóspedes falam positivamente dos quartos espaçosos da propriedade.
                    </p>
                    
                </div>
                <!--fim de div_info_filho 2 -->
                 <!--inicio de div_info_filho 3-->
                 <div class="div_info_filho">
                    <img src="IMG/Hotrl 81 (Singapura).webp" alt="">
                    <p class="titulo_div_info_filho"><strong>Hotel 81 Orchid</strong></p>
                    <p class="descricao-div-info-filho">
                        Perto do East Coast Park, o Hotel 81 Orchid oferece tudo que você precisa. Os hóspedes podem usufruir de acesso Wi-Fi gratuito no quarto. Todos os 182 quartos oferecem confortos como ar-condicionado, além de comodidades como Wi-Fi grátis e garrafas de água grátis. As avaliações dos hóspedes dão boas notas para os quartos limpos da propriedade.
                    </p>
                   
                </div>
                <!--fim de div_info_filho 3 -->
                 <!--inicio de div_info_filho 4-->
                 <div class="div_info_filho">
                    <img src="IMG/Bourbon hotel (fortaleza).avif" alt="">
                    <p class="titulo_div_info_filho"><strong>Bourbon Fortaleza Hotel Beira Mar</strong></p>
                    <p class="descricao-div-info-filho">
                        Bourbon Fortaleza Hotel Beira Mar fica na região do entretenimento e na praia. Quem quiser descobrir as belezas naturais do lugar vai encontrar o que procura em locais como Praia do Futuro e Praia de Iracema. Além disso, a região também conta com outras atrações como Parque aquático Beach Park e Jardim Japones de Fortaleza. Voz da Verdade e Zoológico Sargento Prata também valem a visita. Que tal se refrescar um pouco praticando atividades como passeios de caiaque?
                    </p>
                    </p>
                  
                </div>
                <!--fim de div_info_filho 4 -->
                 <!--inicio de div_info_filho 5-->
                 <div class="div_info_filho">
                    <img src="IMG/maritin hotel (Berlim) .jpg" alt="">
                    <p class="titulo_div_info_filho"><strong>Maritim proArte Hotel Berlin</strong></p>
                    <p class="descricao-div-info-filho">
                        Perto do Portão de Brandemburgo e do Checkpoint Charlie, o Maritim proArte Hotel Berlin oferece cabeleireiro, serviço de lavanderia e lavagem a seco e um bar. Delicie-se com tratamentos ayurvédicos, uma manicure/pedicure e uma massagem com pedras quentes no spa que há no local. Desfrute da culinária internacional e muito mais nos dois restaurantes locais. O Wi-Fi gratuito nos quartos está disponível para todos os hóspedes, juntamente com uma academia e um business center.
                    </p>
                  
                </div>
                <!--fim de div_info_filho 5 -->
                 <!--inicio de div_info_filho 6-->
                 <div class="div_info_filho">
                    <img src="IMG/Canario boutique( porto rico).png" alt="">
                    <p class="titulo_div_info_filho"><strong>Canario Boutique Hotel</strong></p>
                    <p class="descricao-div-info-filho">
                        Com ótima localização em Condado, um bairro de San Juan, Canario Boutique Hotel fica na Strip e perto da praia. Porto de San Juan e Píer Pan American são atrações que valem uma visita, assim como as maravilhas naturais em Praia Condado. O Canario Boutique Hotel oferece um terraço na cobertura, um jardim e serviços de lavagem a seco/lavanderia. Os hóspedes podem usufruir de acesso Wi-Fi gratuito no quarto.
                    </p>
                    
                </div>
                <!--fim de div_info_filho 6 -->

            </div>
            <!--fim da div_informacoes-->
        </div>
    </section>
    <!--fim section servico-->
    <section class="dados">
        <div class="container">
            <!--dados item-->
            <div class="div_bandeira_paises">
                <img src="IMG/bandeira da frança.png" alt="">
                <p>
                    <strong>+79 M </strong><br>
                     País mais visitado
                </p>
            </div>
            <!--fim dos dados item-->
             <!--dados item-->
             <div class="div_bandeira_paises">
                <img src="IMG/bandeira da espanha.png" alt="">
                <p>
                    <strong>+72 </strong> <br>
                     2° País mais visitado
                </p>
            </div>
            <!--fim dos dados item-->
             <!--dados item-->
             <div class="div_bandeira_paises">
                <img src="IMG/bandeira dos EUA.png" alt="">
                <p>
                    <strong>+51</strong> <br>
                      3° País mais visitado
                </p>
            </div>
            <!--fim dos dados item-->
             <!--dados item-->
             <div class="div_bandeira_paises">
                <img src="IMG/bandeira da turquia.png" alt="">
                <p>
                    <strong>+50 </strong><br>
                      4° País mais visitado
                </p>
            </div>
            <!--fim dos dados item-->
        </div>
    </section>
    <!--footer-->
    <footer class="rodape">
        <div class="container">
            <div class="links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>

            </div>

        </div>
    </footer>
    <!--fim do footer-->
    <script src="JS/main.js">

    </script>
    
</body>
</html>