<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Sugestões - paises</title>
    <link rel="stylesheet" href="CSS/folha de estilo.css">
</head>
<body>
    <header style="background-image: url(IMG/pexels-lara-jameson-8828624.jpg)">
        <div class="container">
            <nav>
                <a href="index.html">
                    <img class="logo" src="IMG/Rota livre (2).png" alt="logo">
                </a>
                <ul class="ul ">
                    <a href="index.html">Home</a>
                    <a href="sobre.html">Sobre</a>

                    <!--Começo de dropdown-->
                    <div class="dropdown">
                        <div class="select">
                            <a class="selected" href="servicos.html">Sugestões</a>
                            <div class="caret"></div>
                        </div>
                        <ul class="menu">
                            <li><a href="servicos-paises.html">Países</a></li>
                            <li><a href="servicos - excursoes.html">Excurssoes</a></li>
                           
                            <li class="active"><a>Sugestões</a></li>
                        </ul>
                    </div>
                    <!--Fim de dropdown-->
                   
                    <a href="dashboard.html">Dashboard</a>
                    <a href="contato.html">contate-nos</a>
                    <a target="_blank" class="btn" href="cadastro.html">Cadastre-se</a>
                </ul>
                <div class="toggle_btn">
                    <i class="fa fa-bars"></i>
                </div>
                
            </nav>
            <section class="banner">
                <div class="texto-banner">
                    <h1>Algumas Sugestões..</h1>
            
                </div>
            </section>
        </div>
        <div class="dropdown_menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="servicos.html">Sugestões</a></li>
            <li><a href="servicos - excursoes.html">Excurssões</a></li>
            <li><a href="servicos-paises.html">Países</a></li>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="contato.html">Contato</a></li>
            <li><a target="_blank" class="btn" href="cadastro.html">Cadastre-se</a></li>
       </div>
    </header>
    <!--Fim do header-->
    <section class="servicos">
        <div class="container">
            <h3> Os 6 países mais econômicos para se viajar: 2023</h3>
            <p>Conheça alguns dos Países que podem ser seu próximo destino</p>
            <!--rows cards-->
            <div class="div_informacoes">
                <!--inicio de div_info_filho 1-->
                <div class="div_info_filho">
                    <img src="IMG/pexels-rafael-guimarães-1060803.jpg" alt="">
                    <p class="titulo_div_info_filho"><strong>Argentina</strong></p>
                    <p class="descricao-div-info-filho">
                        Bem-vindo à encantadora Argentina, famosa por seus tangos apaixonados, gastronomia excepcional e paisagens deslumbrantes. Em Buenos Aires, a arquitetura europeia se mistura à vibração latina, oferecendo uma experiência única. A culinária argentina, com destaque para o churrasco "asado" e vinhos renomados, é uma celebração para os sentidos. Para os amantes da natureza, opções como as Cataratas do Iguaçu e a Patagônia são imperdíveis. Descubra a magia deste país cativante, onde o tango, a hospitalidade calorosa e paisagens únicas aguardam sua jornada inesquecível.

                    </p>
                    
                </div>
                <!--fim de div_info_filho 1 -->
                 <!--inicio de div_info_filho 2-->
                 <div class="div_info_filho">
                    <img src="IMG/taillandia.jpg" alt="">
                    <p class="titulo_div_info_filho"><strong>Tailândia </strong></p>
                    <p class="descricao-div-info-filho">
                        Descubra a Tailândia, um paraíso exótico onde cultura vibrante, praias paradisíacas e gastronomia única se entrelaçam. Bangkok, a capital dinâmica, mistura arranha-céus modernos com templos ornamentados, proporcionando uma autêntica experiência tailandesa. As ilhas de Phuket, Krabi e Koh Samui oferecem praias de areias brancas e águas cristalinas. A culinária tailandesa, com pratos como Pad Thai e Tom Yum, é uma festa para os sentidos. Explore templos budistas magníficos, como o Wat Pho, e deixe-se encantar pela espiritualidade e beleza única deste destino fascinante.
                        
                </p>
               

    
                </div>
                <!--fim de div_info_filho 2 -->
                 <!--inicio de div_info_filho 3-->
                 <div class="div_info_filho">
                    <img src="IMG/cuba.jpg" alt="">
                    <p class="titulo_div_info_filho"><strong>Cuba</strong></p>
                    <p class="descricao-div-info-filho">
                        Descubra a envolvente Cuba, uma ilha caribenha repleta de charme e rica herança cultural. Em Havana, carros clássicos percorrem ruas de paralelepípedos, proporcionando uma experiência única. As praias de Varadero convidam ao relaxamento, enquanto Trinidad preserva a atmosfera encantadora de uma cidade colonial. A música salsa e os sabores autênticos da culinária cubana, como o arroz congrí, complementam a experiência vibrante. Cuba oferece uma imersão na história e vitalidade, seja explorando plantações em Viñales ou mergulhando na autenticidade de Santiago de Cuba.
                       
                        </p>

                    
                </div>
                <!--fim de div_info_filho 3 -->
                 <!--inicio de div_info_filho 4-->
                 <div class="div_info_filho">
                    <img src="IMG/filipinas.jpg" alt="">
                    <p class="titulo_div_info_filho"><strong>Filipinas</strong></p>
                    <p class="descricao-div-info-filho">
                        Explore as Filipinas, um arquipélago paradisíaco no sudeste asiático, conhecido por suas mais de 7.000 ilhas repletas de belezas naturais. Destinos como Boracay e Palawan oferecem praias de areias brancas e formações rochosas deslumbrantes. Manila, a capital, combina modernidade com uma herança colonial espanhola, destacando-se a cidade murada de Intramuros. A cultura filipina é celebrada em festivais vibrantes, como o Sinulog, enquanto a culinária única, com pratos como adobo, cativa os visitantes. Descubra este paraíso tropical, onde a riqueza natural e a calorosa hospitalidade tornam cada experiência memorável.
                        
                    </p>
                </div>
                <!--fim de div_info_filho 4 -->
                 <!--inicio de div_info_filho 5-->
                 <div class="div_info_filho">
                    <img src="IMG/india.jpg" alt="">
                    <p class="titulo_div_info_filho"><strong> Índia</strong></p>
                    <p class="descricao-div-info-filho">
                        Descubra a Índia, um país vasto e diversificado, repleto de tesouros culturais e paisagens encantadoras. De Delhi a Agra, cada cidade revela monumentos históricos, como o Taj Mahal em Agra e palácios majestosos em Jaipur. Varanasi proporciona uma experiência espiritual única nas margens do rio Ganges, enquanto a diversidade gastronômica, com pratos como biryani, encanta o paladar. Das montanhas do Himalaia às praias de Goa, as paisagens variadas complementam a riqueza cultural. A Índia convida a uma jornada mágica, onde espiritualidade, arquitetura magnífica e diversidade cultural se entrelaçam.
    

                    </p>
                    
                </div>
                <!--fim de div_info_filho 5 -->
                 <!--inicio de div_info_filho 6-->
                 <div class="div_info_filho">
                    <img src="IMG/bulgaria.jpg" alt="">
                    <p class="titulo_div_info_filho"><strong>Bulgária</strong></p>
                    <p class="descricao-div-info-filho">
                        Descubra a Bulgária, um país nos Bálcãs repleto de cultura, história e paisagens fascinantes. Sófia, sua capital, mescla tradição e modernidade, apresentando igrejas ortodoxas e vibrantes praças. As montanhas Rila e Pirin abrigam o Mosteiro de Rila, enquanto Plovdiv destaca-se pela arquitetura romana preservada. A Bulgária encanta amantes da natureza com trilhas no Parque Nacional de Pirin e praias tranquilas no Mar Negro. Sua culinária, com pratos como banitsa e kavarma, completa a experiência única neste tesouro cultural dos Bálcãs.
                    </p>
                   
                </div>
                <!--fim de div_info_filho 6-->

            </div>
            <!--fim da div_informacoes-->
        </div>
    </section>
    <!--fim section servico-->
    <section class="dados" style="background-color:    #f1f1f1;">
        <div class="container">
            <!--dados item-->
            <div class="div_bandeira_paises">
                <img src="IMG/bandeira da frança.png" alt="">
                <p>
                    <strong>+79 M </strong><br>
                     País mais visitado
                </p>
            </div>
            <!--fim dos dados item-->
             <!--dados item-->
             <div class="div_bandeira_paises">
                <img src="IMG/bandeira da espanha.png" alt="">
                <p>
                    <strong>+72 </strong> <br>
                     2° País mais visitado
                </p>
            </div>
            <!--fim dos dados item-->
             <!--dados item-->
             <div class="div_bandeira_paises">
                <img src="IMG/bandeira dos EUA.png" alt="">
                <p>
                    <strong>+51</strong> <br>
                      3° País mais visitado
                </p>
            </div>
            <!--fim dos dados item-->
             <!--dados item-->
             <div class="div_bandeira_paises">
                <img src="IMG/bandeira da turquia.png" alt="">
                <p>
                    <strong>+50 </strong><br>
                      4° País mais visitado
                </p>
            </div>
            <!--fim dos dados item-->
        </div>
    </section>
    <!--footer-->
    <footer class="rodape">
        <div class="container">
            <div class="links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>

            </div>

        </div>
    </footer>
    <!--fim do footer-->
    <script src="JS/main.js">

    </script>
    
</body>
</html>