<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Sobre</title>
    <link rel="stylesheet" href="CSS/folha de estilo.css">
</head>
<body>
    <header style="background-image: url('IMG/londres.jpg')">
        <div class="container">
            <nav>
                <a href="index.html">
                    <img class="logo" src="IMG/Rota livre (2).png" alt="logo">
                </a>
                <ul class="ul ">
                    <a href="index.html">Home</a>
                    <a href="sobre.html">Sobre</a>

                    <!--Começo de dropdown-->
                    <div class="dropdown">
                        <div class="select">
                            <a class="selected" href="servicos.html">Sugestões</a>
                            <div class="caret"></div>
                        </div>
                        <ul class="menu">
                            <li><a href="servicos-paises.html">Países</a></li>
                            <li><a href="servicos - excursoes.html">Excurssoes</a></li>
                           
                            <li class="active"><a>Sugestões</a></li>
                        </ul>
                    </div>
                    <!--Fim de dropdown-->
                   
                    <a href="dashboard.html">Dashboard</a>
                    <a href="contato.html">contate-nos</a>
                    <a target="_blank" class="btn" href="cadastro.html">Cadastre-se</a>
                </ul>
                <div class="toggle_btn">
                    <i class="fa fa-bars"></i>
                </div>
                
            </nav>
            <section class="banner">
                <div class="texto-banner">
                    <h1>Sobre</h1>
            
                </div>
            </section>
        </div>
        <div class="dropdown_menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="servicos.html">Sugestões</a></li>
            <li><a href="servicos - excursoes.html">Excurssões</a></li>
            <li><a href="servicos-paises.html">Países</a></li>
            <li><a href="dashboard.html">Dashboard</a></li>
            <li><a href="contato.html">Contato</a></li>
            <li><a target="_blank" class="btn" href="cadastro.html">Cadastre-se</a></li>
       </div>
    </header>
    <!--Fim do header-->
    <section class="sobre">
        <div class="container">
            <div class="sobre text">
                <h3>Por que decidimos criar este site?</h3><br>
                <p>Caro(a) Viajante, <br>

                    <br>É com grande entusiasmo que dou as boas-vindas a você em nosso site de viagens, um espaço virtual criado com paixão e dedicação para inspirar as suas próximas aventuras. Aqui, acreditamos que cada viagem é uma história a ser contada, e nosso objetivo é ser o ponto de partida para os capítulos mais emocionantes da sua vida.
                    
                    Ao desenvolver este site, tivemos em mente a ideia de criar mais do que uma plataforma de sugestões de destinos; queríamos construir um espaço que alimentasse sua sede por novas descobertas e fizesse com que cada viagem fosse única. Navegue sem pressa, explore os cantos mais remotos e encontre sugestões que despertem o seu espírito aventureiro.
                    
                    Entendemos que cada viajante é único, com gostos, desejos e curiosidades próprias. Por isso, trabalhamos arduamente para oferecer sugestões diversificadas, desde os destinos clássicos até aos recantos menos explorados, com a esperança de que encontre aqui algo que ressoe com o seu coração viajante.
                    
                    Além das sugestões de destinos, queremos ser o seu companheiro de viagem virtual, fornecendo informações valiosas, dicas úteis e, é claro, aquela faísca de inspiração que faz com que cada jornada seja memorável.
                    
                    A viagem é mais do que um simples deslocamento de um lugar para outro; é uma jornada de autodescoberta, uma oportunidade de ampliar horizontes e criar memórias que durarão toda a vida. Que este site seja o seu guia confiável, orientando-o para experiências que transcendem as expectativas.
                    
                    Obrigado por escolher explorar conosco. Que cada clique seja uma porta aberta para o desconhecido, e que cada sugestão seja um convite para uma nova e emocionante história.<br>
                    
                   <br> Bon voyage!
                    
                </p><br>
                <a href="contato.html" class="btn animate-btn">Entrar em contato</a>
            </div>
            <div class="sobre-img">
                <img src="IMG/undraw_Drink_coffee_v3au.png" alt="">
            </div>
        </div>
    </section>
    <!--footer-->
    <footer class="rodape">
        <div class="container">
            <div class="links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>

            </div>

        </div>
    </footer>
    <!--fim do footer-->
    <script src="JS/main.js">

    </script>
    
</body>
</html>